version: "3.0"
services:
  db:
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=savapage
      - POSTGRES_PASSWORD=MusterSavapage
      - POSTGRES_DB=savapage
  savapage:
    networks:
      physical:
        ipv4_address: 1.2.3.4
      internal:
    hostname: print01
    domainname: linuxmuster.lan

networks:
  physical:
    driver: macvlan
    driver_opts:
      parent: ens19
    ipam:
      config:
        - subnet: 1.2.3.0/24
