DB_NAME=savapage
DB_USER=savapage
DB_PASSWORD=MusterSavapage
DEFAULT_LOCALE=en-EN
DEFAULT_PAPERSIZE=iso-a4
GLOBAL_CURRENCYCODE=USD
AUTH_METHOD=ldap
AUTH_LDAP_SCHEMA_TYPE=ACTIVE_DIRECTORY
AUTH_LDAP_ADMIN=cn=savapage-binduser,OU=Management,OU=GLOBAL,DC=liuxmuster,DC=lan
AUTH_LDAP_PASSWORD=PleaseChangeMe
AUTH_LDAP_SERVER=server.linuxmuster.lan
AUTH_LDAP_BASEDN=DC=linuxmuster,DC=lan
AUTH_LDAP_PORT=389
AUTH_LDAP_USESSL=N
AUTH_LDAP_SSL_HOSTNAME_VERIFICATION_DISABLE=Y
AUTH_LDAP_TRUST_SELFSIGNED_CERT=Y
MAIL_SMTP_HOST=server
MAIL_SMTP_PORT=465
MAIL_SMTP_USERNAME=savapage
MAIL_SMTP_PASSWORD=savapageMail
MAIL_SMTP_MAILFROM_ADRESS=savapage@schule.lan
MAIL_SMTP_SECURITY=ssl
SAVAPAGE_USER_PW=Muster!
SAVAPAGE_HOSTNAME=<IP-Address>
SAVAPAGE_UUID=b79a90ae-285a-41b2-b0a0-56287068350d
